.content
{
  width: 33%;
  margin-left:auto;
  margin-right:auto;
  background: #eee;
  padding:0.5em;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  margin-bottom:8em;
}

.content h1
{
  text-align: center;
  font-size:3em;
  
}

.content pre 
{
  background:#fff;
  border-radius:4px;
  overflow-x:scroll;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.content p
{
  font-size:12pt;
  margin:0.4em;
}

.content footer
{

 margin-top:1.5em;
 margin-left: -2em;
margin-right: -2em;
background: #ccc;
margin-bottom: -2em;
padding: 1em;
text-align: center;

border-radius:8px;
}